ANALYSIS_ID=$(cat {filename}.analysis_id)
if [ -f {filename}.success ]
	then for file in $(ls *{filename}*)
		do if [ ! "$file" =~ '^.*\.success$' ]
			then gsutil -h "x-goog-meta-analysis-id:$analysis_id" -o Credentials:gs_oauth2_refresh_token=$(cat /data-access/refresh-token) -o Oauth2:oauth2_refresh_retries=50 cp $file {destination} && rm $file
		fi
	done
else echo 'Success indicator file not found'; fi
