analysis_id=$(cat share/{filename}.analysis_id)
if [ -f share/{filename}.success ]
	then if [ -f share/{filename}.bai ]
		then gsutil -h "x-goog-meta-analysis-id:$analysis_id" -o Credentials:gs_oauth2_refresh_token=$(cat /data-access/refresh-token) -o Oauth2:oauth2_refresh_retries=50 cp share/{filename}.bai {index_destination} && rm share/{filename}.bai
	fi && gsutil -h "x-goog-meta-analysis-id:$analysis_id" -o Credentials:gs_oauth2_refresh_token=$(cat /data-access/refresh-token) -o Oauth2:oauth2_refresh_retries=50 cp share/qc-{filename}/* share/{filename}.contents share/{filename}.log {destination}
else echo 'Success indicator file not found'; fi
